@media only screen and (max-width: 766px) {
    .donation.row {
        height: 163px;
        margin: 12px;
    }

    .donation.Datecount {
        top: 1.9vh;
        left: 3.5vw;
        position: absolute;
    }

    .event-owner-address {
        @media only screen and (max-width: 550px) {
            width: calc(62vw - 22vw);
            height: 1rem;
        }


        text-overflow: ellipsis;
        overflow: hidden;

    }

    .donation.DatecountT {
        font-size: 0.8rem;
    }

    .donation-eventconatiner {
        display: flex;
        top: 41px;
        position: absolute;
        left: 10px;
        right: 10px;
        gap: 12px;
    }

    .donation.event-img {
        aspect-ratio: 4;
        max-width: 110px;
        max-height: 110px;
        height: 110px;
        width: 110px;
        border-radius: 0.5rem;
        box-shadow: rgb(248 160 174) 0 0 2px 1px;
    }

    .donation.event-details-container {
        margin-left: 1px;
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 100%;
    }

    .donation.event-details-title {
        font-size: 0.8rem;
    }

    .donation.event-goal-price {
        font-size: 0.65rem;
    }

    .donation.event-BTN {
        width: 114px;
        padding-bottom: 0.9rem;
        padding-top: 0.8rem;
        border-radius: 0.3rem;
    }

    .donation.event-BTN-container {
        display: flex;
        gap: 5px;
        position: absolute;
        right: 10px;
        bottom: 0px;
        justify-content: flex-start;
        align-items: flex-end;
        height: 1.7rem;
    }

    .donation.event-btn-text {
        height: 100%;
        font-size: 15px;
    }
}

.donation.row {
    color: black;
    border-radius: 0.8rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: linear-gradient(42deg, rgba(145, 170, 255, 0) 30%, rgba(255, 137, 126, 0.6) 60%, rgb(145, 170, 255) 95%);
    filter: drop-shadow(rgba(0, 0, 0, 0.05) 5px 5px 15px) drop-shadow(rgba(100, 90, 255, 0.05) 1px 1px 1px);
    box-shadow: #6a00f37a 0 0 8px 1px;
}

.donation.row::before {
    content: "";
    z-index: -1;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    inset: 1px;
}

.donation.event-BTN {
    border: #0ead98 1px solid;
    color: #000000;
    background: white;
    box-shadow: #0ead98 0 0 4px 0;
    text-align: center;
    cursor: pointer;
    height: 100%;
    float: right;
    margin: 0px;
    transition: .2s cubic-bezier(0.4, 0, 1, 1);
}

.donation.event-BTN:hover {
    background: #dc3545;
    color: white;
}

@media only screen and (min-width: 766px) {
    .donation.row {
        height: calc(14vw*1.7);
        margin: 30px 30px;
    }

    .donation.Datecount {
        top: calc(1vh *2);
        left: calc(1vh *3);
        position: absolute;
    }


    .donation.DatecountT {
        font-size: calc(1vw *1.5);
    }

    .donation-eventconatiner {
        top: calc(2vw*2.3);
        display: flex;
        position: absolute;
        left: 15px;
        right: 5px;
        gap: 15px;
    }

    .donation.event-img {
        aspect-ratio: 4/1;
        width: 18vw;
        height: 18vw;
        border-radius: 0.5rem;
        box-shadow: #001cff96 0 0 2px 1px;
    }

    .donation.event-details-container {
        margin-left: 1px;
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
    }

    .donation.event-details-title {
        font-size: calc(1vw *2);
    }

    .donation.event-goal-price {
        font-size: calc(1vw *1.5);
    }

    .donation.event-BTN {
        width: calc(10vw*2);
        border-radius: 0.5rem;
        padding-top: calc(3vw);
        padding-bottom: 3vw;
    }

    .donation.event-BTN-container {
        display: flex;
        gap: 5px;
        position: absolute;
        right: 1vw;
        bottom: 1vh;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .donation.event-btn-text {
        height: 100%;
        font-size: calc(1vw * 2);
    }
}