.welcome.img{
   width: 15rem
}
.welcome.title{
   font-size: 2em;
   color : #fdfdfe;
}
.welcome.description{
   font-size: 1em;
   color : #fdfdfe;
}
.Welcome.DonateBTN{
   width: 12rem
}
.welcome{
   @media (min-width: 320px ) {
      zoom:0.8;
    }
    @media (min-width: 375px) {
      zoom:0.85;
    }
    @media (min-width: 425px) {
      zoom:0.9;
    }
    @media (min-width: 768px ) {
      zoom:1;
    }
}
.EventBTN.welcome{
   width: 15rem;
   font-size: 1.5rem;
   height: 4rem;
}

.Event.row {
   margin-bottom: 0;
   height: auto;
}